//@theme "/home/andrian/.local/share/rofi/themes/nausea.rasi"
//@theme "/home/andrian/.local/share/rofi/themes/nausea.rasi"
//@theme "/home/andrian/.local/share/rofi/themes/nausea.rasi"
@theme "/home/andrian/.local/share/rofi/themes/nausea.rasi"
